<!doctype html>
<html lang="en">
    <head>
        <!--needed for bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
              crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <script type=text/javascript src="{{  url_for('static', filename='js/combined.js') }}"></script>
        <title>EasyRL</title>
    </head>
    <body>
    <!--    Navigation bar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/index">EasyRL</a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Model</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/help">Help</a>
                        </li>
                    </ul>
                    <div class="navbar-nav">
                        {% if isLogin %}
                            <a class="nav-link logout" onClick="logout()">Logout</a>
                        {% else %}
                            <a class="nav-link" href="/login">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        <div class="aboutContainer">
            <h3>EasyRL Web Application</h3>
            <h4>Software Requirements:</h4>
            <p>
                Our code is though Google Chrome.
            </p>
            <p>
                Requires Python 3.7 and pytorch 1.6
            </p>
            <p>
                Our code follows the MVC design.
            </p>
            <p>
                Python is used as the model. HTML is used as the view. Flask is used as the controller.
            </p>
            <p>
                To help the view part of the design, CSS, Django, JavaScript, JQuery, and Ajax are used.
            </p>
            <p>
                Further requires Tensorflow 2.1, Keras, Kivy and other packages, see Readme.txt for an explanation and requirements.txt for details.
            </p>
            <br>
            <p>
                EasyRL System Program was created by the following students at the University of Washington-Tacoma:
            </p>
            <p>
                Neil Hulbert, Sam Spillers, Brandon Francis, James Haines-Temons, Ken Gil Romero, Sam Wong,
                Kevin Flora, and Bowei Huang
            </p>
            <br>
            <p>
                EasyRL Cloud was created by the following students at the University of Washington-Tacoma:
            </p>
            <p>
                Robert Cordingly, Tucker Stewart, Varik Hoang, Rashad Hatchett, Maham Rashid, Nazim Zerrouki,
                Shrustishree Sumanth, and Egor Maksimenka
            </p>
            <br>
            <p>
                EasyRL Web Application is a capstone project for the class TCSS 702 of University of Washington - Tacoma.
            </p>
            <p>
                This is created by Ken Gil Romero with Athirai Aravazhi Irissappane as the Commitee Chair.
            </p>
            <br>
            <p>
                Special thanks to Robert Cordingly for helping understand lambda function and anything related to AWS and Cloud.
            </p>
        </div>

<!--needed for bootstrap-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
                integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
                integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
                crossorigin="anonymous"></script>
    </body>

</html>