<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <script type=text/javascript src="{{  url_for('static', filename='js/combined.js') }}"></script>
        <title>EasyRL</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/index">EasyRL</a>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/index">Model</a>
                        <a class="nav-link active" aria-current="page" href="/#">About</a>
                        <a class="nav-link" href="/help">Help</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="aboutContainer">
            <h3>EasyRL Web Application</h3>
            <h4>Software Requirements:</h4>
            <p>
                Our code can be run on Google Chrome.
            </p>
            <p>
                Requires Python 3.7 and pytorch 1.6
            </p>
            <p>
                Our code follows the MVC design.
            </p>
            <p>
                Python is used as the model. HTML is used as the view. Flask is used as the controller.
            </p>
            <p>
                To help the view part of the design, CSS, Django, JavaScript, JQuery, and Ajax are used.
            </p>
            <p>
                Further requires Tensorflow 2.1, Keras, Kivy and other packages, see Readme.txt for an explanation and requirements.txt for details.
            </p>
            <br>
            <p>
                EasyRL System Application was created by the following students at the University of Washington-Tacoma:
            </p>
            <p>
                Neil Hulbert, Sam Spillers, Brandon Francis, James Haines-Temons, Ken Gil Romero
                Sam Wong, Kevin Flora, Bowei Huang
            </p>
            <br>
                EasyRL Web Application was created by Ken Gil Romero.
            </p>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>
    </body>

</html>