<!doctype html>
<html lang="en">
  <head>
    <title>EasyRL</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <h1>Ajax Test</h1>
    <button type="button" class="btn btn-primary btn-lg btn-block">
      Submit button
    </button>
    <input type="number" value=1>
    <script>


        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $(function() {
            $('button').bind('click', function() {
<!--              $.getJSON($SCRIPT_ROOT + '/add1Infinity', {-->
<!--                input: $('input').val()-->
<!--              }, function(data) {-->
<!--                $("input").attr('value', data.result);-->
<!--              });-->
<!--              return false;-->

              $.getJSON($SCRIPT_ROOT + '/add1Initialize', {
              }, function(data) {
                episode = data.result;
                for (i = 0; i < episode; i++) {
                  $.getJSON($SCRIPT_ROOT + '/add1', {
                  }, function(data) {
                    console.log(data.result)
                    $("input").attr('value', data.result);
                  });
                }
              });
              return false;
            });
         });

<!--         messages = get_flashed_messages()-->
<!--         if (messages) {-->
<!--&lt;!&ndash;          for (i = 0; i < messages.length; i++) {&ndash;&gt;-->
<!--&lt;!&ndash;            $("input").attr('value', message[i]);&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->
<!--            $("input").attr('value', message[0])-->
<!--         }-->
    </script>
  </body>

</html>