<!doctype html>
<html lang="en">
  <head>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <script type=text/javascript src="{{  url_for('static', filename='js/index.js') }}"></script>
    <script type=text/javascript src="{{  url_for('static', filename='js/all.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>EasyRL</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/#">EasyRL</a>
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/#">Model</a>
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/help">Help</a>
          </div>
        </div>
      </div>
    </nav>


<!--          <div class="col-sm-10">-->
<!--        <div class="form-check">-->
<!--          <input class="btn-check" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>-->
<!--          <label class="btn btn-secondary" for="gridRadios1">-->
<!--            First radio-->
<!--          </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--          <input class="btn-check" type="radio" name="gridRadios" id="gridRadios2" value="option2">-->
<!--          <label class="btn btn-secondary" for="gridRadios2">-->
<!--            Second radio-->
<!--          </label>-->
<!--        </div>-->
<!--        <div class="form-check disabled">-->
<!--          <input class="btn-check" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>-->
<!--          <label class="btn btn-secondary" for="gridRadios3">-->
<!--            Third disabled radio-->
<!--          </label>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div>
      <button type="button" class="btn btn-secondary btn-lg btn-block, modelButtons" id="modelButton1">button1</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block, modelButtons">button2</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block, modelButtons">button3</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block, modelButtons">button4</button>
    </div>

    <!--    javascript get environment-->
    <!--    slider-->
    <h1> Environments:</h1>
    <div class="environmentBtns">
      <label class="environmentCustImg">

        <input type="radio" class="btn-check, environmentInput" name="optionsEnv" id="optionEnv1" autocomplete="off">
        <img class="indexImg" src="{{ url_for('static',filename='img/tempImg1.png') }}"/>

        <div class="environmentLblContainer">
          <label class="btn btn-secondary" for="optionEnv1">Radio1</label>
        </div>
      </label>
      <label class="environmentCustImg">

        <input type="radio" class="btn-check, environmentInput" name="optionsEnv" id="optionEnv2" autocomplete="off">
        <img class="indexImg" src="{{ url_for('static',filename='img/tempImg2.png') }}"/>

        <div class="environmentLblContainer">
        <label class="btn btn-secondary" for="optionEnv2">Radio2</label>
        </div>
      </label>
      <label class="environmentCustImg">

        <input type="radio" class="btn-check, environmentInput" name="optionsEnv" id="optionEnv3" autocomplete="off">
        <img class="indexImg" src="{{ url_for('static',filename='img/tempImg3.png') }}"/>

        <div class="environmentLblContainer">
        <label class="btn btn-secondary" for="optionEnv3">Radio3</label>
        </div>
      </label>
      <label class="environmentCustImg">

        <input type="radio" class="btn-check, environmentInput" name="optionsEnv" id="optionEnv4" autocomplete="off">
        <img class="indexImg" src="{{ url_for('static',filename='img/tempImg3.png') }}"/>

        <div class="environmentLblContainer">
        <label class="btn btn-secondary" for="optionEnv4">Radio4</label>
        </div>
      </label>
      <label class="environmentCustImg">

        <input type="radio" class="btn-check, environmentInput" name="optionsEnv" id="optionEnv5" autocomplete="off">
        <img class="indexImg" src="{{ url_for('static',filename='img/tempImg3.png') }}"/>

        <div class="environmentLblContainer">
        <label class="btn btn-secondary" for="optionEnv5">Radio5</label>
        </div>
      </label>
      <label class="environmentCustImg">

        <input type="radio" class="btn-check, environmentInput" name="optionsEnv" id="optionEnv6" autocomplete="off">
        <img class="indexImg" src="{{ url_for('static',filename='img/tempImg3.png') }}"/>

        <div class="environmentLblContainer">
        <label class="btn btn-secondary" for="optionEnv6">Radio6</label>
        </div>
      </label>
      <label class="environmentCustImg">

        <input type="radio" class="btn-check, environmentInput" name="optionsEnv" id="optionEnv7" autocomplete="off">
        <img class="indexImg" src="{{ url_for('static',filename='img/tempImg3.png') }}"/>

        <div class="environmentLblContainer">
        <label class="btn btn-secondary" for="optionEnv7">RadioLongLongLongLongLongLongLongLongLongLong7</label>
        </div>
      </label>
      <label class="environmentCustImg">

        <input type="radio" class="btn-check, environmentInput" name="optionsEnv" id="optionEnv8" autocomplete="off">
        <img class="indexImg" src="{{ url_for('static',filename='img/tempImg3.png') }}"/>

        <div class="environmentLblContainer">
        <label class="btn btn-secondary" for="optionEnv8">RadioLongLongLongLongLongLongLongLongLongLong8</label>
        </div>
      </label>
    </div>
        <!--    javascript get agents-->
    <!--    slider-->

    <h1> Agents:</h1>
    <div class="agentBtns">
      <div class="agentBtn">
        <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
        <label class="btn btn-secondary" for="option1">Radio-Agent 1</label>
      </div>
      <div class="agentBtn">
        <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
        <label class="btn btn-secondary" for="option2">Radio-Agent 2</label>
      </div>
      <div class="agentBtn">
        <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
        <label class="btn btn-secondary" for="option3">Radio-Agent 3</label>
      </div>
      <div class="agentBtn">
        <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
        <label class="btn btn-secondary" for="option4">Radio-Agent 4</label>
      </div>
      <div class="agentBtn">
        <input type="radio" class="btn-check" name="options" id="option5" autocomplete="off">
        <label class="btn btn-secondary" for="option5">Radio-Agent 5</label>
      </div>
      <div class="agentBtn">
        <input type="radio" class="btn-check" name="options" id="option6" autocomplete="off">
        <label class="btn btn-secondary" for="option6">Radio-Agent 6</label>
      </div>
      <div class="agentBtn">
        <input type="radio" class="btn-check" name="options" id="option7" autocomplete="off">
        <label class="btn btn-secondary" for="option7">Radio-Agent 7</label>
      </div>
      <div class="agentBtn">
        <input type="radio" class="btn-check" name="options" id="option8" autocomplete="off">
        <label class="btn btn-secondary" for="option8">Radio-Agent 8</label>
      </div>
      <div class="agentBtn">
        <input type="radio" class="btn-check" name="options" id="option9" autocomplete="off">
        <label class="btn btn-secondary" for="option9">Radio-Agent 9</label>
      </div>
      <div class="agentBtn">
        <input type="radio" class="btn-check" name="options" id="option10" autocomplete="off">
        <label class="btn btn-secondary" for="option10">Radio-Agent 10</label>
      </div>
    </div>



    <div class="submitModel">
      <button type="button" class="btn btn-primary btn-lg btn-block" onclick="modelSelected()">
        Submit button
      </button>
    </div>

        <!--    javascript get agents-->
<!--        <div class="btn-group" data-toggle="buttons" id="topButtonDiv" >-->
<!--          <button type="button" class="btn btn-primary">RadBtn1-->
<!--          <input type="radio" id="radio1" ></button>-->
<!--          <button type="button" class="btn btn-primary">RadBtn2-->
<!--          <input type="radio" id="radio2" > </button>-->
<!--          <button type="button" class="btn btn-primary">RadBtn3-->
<!--          <input  type="radio" id="radio7"> </button>-->
<!--        </div>-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

</html>