<!doctype html>
<html lang="en">
    <head>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <script type=text/javascript src="{{  url_for('static', filename='js/index.js') }}"></script>
        <script type=text/javascript src="{{  url_for('static', filename='js/combined.js') }}"></script>
        <title>EasyRL</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/#">EasyRL</a>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/#">Model</a>
                        <a class="nav-link" href="/about">About</a>
                        <a class="nav-link" href="/help">Help</a>
                    </div>
                </div>
            </div>
        </nav>

        <script>
            function loadCustEnv(btn) {
                input = btn.previousElementSibling
                input.style.display = "none";
                btn.style.display = "none";
                window.alert("Custom Environment Uploaded");
                $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                var fr = new FileReader();
                var temp;
                fr.onload=function(){
                    temp = fr.result;
                    $.getJSON($SCRIPT_ROOT + '/custEnv', {
                        file: temp
                    }, function(data) {
                        window.location.reload()
                    });
                }
                fr.readAsText(input.files[0]);
            }

            function loadCustAg(btn) {
                input = btn.previousElementSibling
                console.log(input.files[0])
                input.style.display = "none";
                btn.style.display = "none";
                window.alert("Custom Agent Uploaded");
                $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                var fr = new FileReader();
                var temp;
                fr.onload=function(){
                    temp = fr.result;
                    $.getJSON($SCRIPT_ROOT + '/custAg', {
                        file: temp
                    }, function(data) {
                        window.location.reload()
                    });
                }
                fr.readAsText(input.files[0]);
            }
        </script>

        <div class="topBtn">
            <button type="button" class="btn btn-secondary btn-lg btn-block, modelButtons"
                    onClick="makeLoadVisible(this)">Load Custom Environment</button>
            <input class="form-control" type="file"/>
            <button type="button" class="btn btn-primary btn-lg btn-block, loadBtn"
                    onClick="loadCustEnv(this)">Upload</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block, modelButtons"
                    onClick="makeLoadVisible(this)">Load Custom Agent</button>
            <input class="form-control" type="file"/>
            <button type="button" class="btn btn-primary btn-lg btn-block, loadBtn"
                    onClick="loadCustAg(this)">Upload</button>
        </div>

        <h1> Environments</h1>
        <div class="environmentBtns">
            {% for e in envName %}
            <div class="environmentCustImg">
                <input type="radio" class="btn-check" name="optionsEnv" id="{{e}}" autocomplete="off"
                       onclick="envUpdate(this,{{allowedEnvs}}, {{allowedAgents}})">
                <label class="btn btn-outline-secondary" for="{{e}}">
                    <div>
                        <img class="indexImg" src="{{ url_for('static', filename='img/' + e + '.jpg') }}"/>
                    </div>
                    {{e}}
                </label>
            </div>
            {% endfor %}
        </div>

        <h1 id="h1Agent"> Agents</h1>
        <div class="agentBtns">
            {% for a in agtName %}
            <div class="agentBtn">
                <input type="radio" class="btn-check" name="options" id="{{a}}" autocomplete="off"
                       onclick="agUpdate(this,{{allowedEnvs}}, {{allowedAgents}})">
                <label class="btn btn-outline-secondary" for="{{a}}">{{a}}</label>
            </div>
            {% endfor %}
        </div>

        <div class="submitModel">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="modelSelected()">
                Submit button
            </button>
        </div>

<!--        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
<!--                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--                crossorigin="anonymous"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
    </body>

</html>