<!doctype html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
              crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <script type=text/javascript src="{{  url_for('static', filename='js/model.js') }}"></script>
        <script type=text/javascript src="{{  url_for('static', filename='js/combined.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <title>EasyRL</title>
    </head>
    <body>
    <!--    Navigation bar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/index">EasyRL</a>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/index">Model</a>
                        <a class="nav-link" href="/about">About</a>
                        <a class="nav-link" href="/help">Help</a>
                    </div>
                </div>
            </div>
        </nav>

    <!--top buttons-->
        <div class="topBtn">
            <button type="button" class="btn btn-success btn-lg btn-block, modelButtons" onclick="train()" id="trainBtn">
                Train</button>
            <button type="button" class="btn btn-warning btn-lg btn-block, modelButtons" onclick="halt()">
                Halt</button>
            <button type="button" class="btn btn-success btn-lg btn-block, modelButtons" onclick="test()" id="testBtn">
                Test</button>
            <button type="button" class="btn btn-danger btn-lg btn-block, modelButtons" onclick="reset()">
                Reset</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block, modelButtons"
                    onClick="makeLoadVisible(this)" id="loadModBtn">Load Model</button>
            <input class="form-control" type="file" id="uploadModIn"/>
            <button type="button" class="btn btn-primary btn-lg btn-block, loadBtn" onClick="loadModel(this)"
                    id="uploadModBtn">Upload</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block, modelButtons"
                    onClick="makeSaveComponentsVisible(this);">Save Model</button>
            <input type="text" class="form-control, saveName" placeholder="filename" aria-label="filename"
                   aria-describedby="basic-addon1">
            <button type="button" class="btn btn-primary btn-lg btn-block, saveNameBtn"
                    onClick="saveModel(this)">Download</button>

            <button type="button" class="btn btn-secondary btn-lg btn-block, modelButtons"
                    onClick="makeSaveComponentsVisible(this);">Save Results</button>
            <input type="text" class="form-control, saveName" placeholder="filename" aria-label="filename"
                   aria-describedby="basic-addon1">
            <button type="button" class="btn btn-primary btn-lg btn-block, saveNameBtn"
                    onClick="saveResults(this)">Download</button>
        </div>

    <!--hyperparameters-->
        <div class="modelLeft">
            {% for p in params %}
            <div class="hyperparameters">
                <label for="{{p.name}} range" class="form-label">{{p.name}}</label>
                <div class="hyperparameter">
                    <input type="range" class="form-range" id="{{p.name}} range" min={{p.min}} max={{p.max}}
                           value={{p.default}} step={{p.resolution}} onchange="updateSlider(this)">
                    <input class="form-control, customInput" type="number" id="{{p.name}} number" value={{p.default}}
                           onchange="updateInput(this)">
                </div>
            </div>
            <br>
            {% endfor %}
        </div>

        <div class="modelRight">
            <!--graph-->
            <div id="chartContainer"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<!--            legends and checkbox-->
            <div>
                <label id="totalTrainingRewardLbl">Total Training Reward: </label>
                <label id="totalTrainingReward">0</label>
                <label id="rewardPerEpisodeLbl">Reward/Episode: </label>
                <label id="rewardPerEpisode">0</label>
            </div>
            <div>
                <label id="displayEnvEpLbl">Display Episode: </label>
                <label id="displayEnvEp">0</label>
                <label id="displayEnvStepLbl">Display Step: </label>
                <label id="displayEnvStep">0</label>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="envSwitch" onchange="displayUpdate(this)">
                  <label class="form-check-label" for="envSwitch">Display</label>
                </div>
            </div>
<!--            display-->
            <img class="modelImg" src="{{ url_for('static',filename='img/tempEnv.png') }}"/>
        </div>

        <script>
            var dpsLoss = []; // dataPoints
            var dpsReward = [];
            var dpsEpsilon = [];
            var chart;
            var xVal = 1;
            var isRunning = false;
            var chart = null;
            var isReset = false;
            var totalTrainingReward = document.getElementById("totalTrainingReward");
            var rewardPerEpisode = document.getElementById("rewardPerEpisode");
            var totalTrainingRewardVal = 0;
            var htmlImg = document.querySelector(".modelImg");
            var isDisplaying = false;
            var trainBtn = document.getElementById("trainBtn");
            var testBtn = document.getElementById("testBtn");
            var loadModBtn = document.getElementById("loadModBtn");
            var uploadModIn = document.getElementById("uploadModIn");
            var uploadModBtn = document.getElementById("uploadModBtn");
            var displayEnvEp = document.getElementById("displayEnvEp");
            var displayEnvStep = document.getElementById("displayEnvStep");
            var envSwitch = document.getElementById("envSwitch");
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            var tempImgUrl = "{{ url_for('tempImage')}}";
        </script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
                integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
                integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
                crossorigin="anonymous"></script>
    </body>
</html>