<!doctype html>
<html lang="en">
  <head>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <script type=text/javascript src="{{  url_for('static', filename='js/model.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>EasyRL</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/index">EasyRL</a>
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/index">Model</a>
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/help">Help</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- js to connect slider and text input-->

    <div>
      <button type="button" class="btn btn-secondary btn-lg btn-block, modelButtons" id="modelButton1">button1</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block, modelButtons">button2</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block, modelButtons">button3</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block, modelButtons">button4</button>
<!--      <label class="form-label" for="customFile">Default file input example</label>-->
<!--      <input type="file" class="form-control" id="customFile" />-->
      <button type="button" class="btn btn-secondary btn-lg btn-block, modelButtons" onClick="makeLoadVisible(this)">Load</button>
      <input class="form-control" type="file" onchange="load()"/>
      <button type="button" class="btn btn-primary btn-lg btn-block, loadBtn" onClick="load(this)">Upload</button>
<!--      class="form-control"-->
      <button type="button" class="btn btn-secondary btn-lg btn-block, modelButtons" onClick="makeSaveComponentsVisible(this);">Save</button>
      <input type="text" class="form-control, saveName" placeholder="filename" aria-label="filename" aria-describedby="basic-addon1">
      <button type="button" class="btn btn-primary btn-lg btn-block, saveNameBtn  " onClick="save(this)">Download</button>
    </div>


    <!--    sliders-->
    <div class="modelLeft">
      <div class="hyperparameters">
        <label for="customRange1" class="form-label">range 1</label>
        <div class="hyperparameter">
          <input type="range" class="form-range" id="customRange1" min=0 max=100 value=1
                 onchange="updateSlider(this)">
          <!-- input -->
          <input class="form-control, customInput" type="number" id="customInput1" value=1
                 onchange="updateInput(this)">
        </div>
      </div>
      <br>
      <div class="hyperparameters">
        <label for="customRange2" class="form-label">rangelong 2</label>
        <div class="hyperparameter">
          <input type="range" class="form-range" id="customRange2" min=0 max=100 value=1
                 onchange="updateSlider(this)">
          <!-- input -->
          <input class="form-control, customInput" type="number" id="customInput2" value=1
                 onchange="updateInput(this)">
        </div>
      </div>
      <br>
       <div class="hyperparameters">
        <label for="customRange3" class="form-label">rangelonglong 3</label>
        <div class="hyperparameter">
          <input type="range" class="form-range" id="customRange3" min=0 max=100 value=1
                 onchange="updateSlider(this)">
          <!-- input -->
          <input class="form-control, customInput" type="number" id="customInput3" value=1
                 onchange="updateInput(this)">
        </div>
      </div>

<!--      <div class="hyperparameters">-->
<!--        <label for="customRange2" class="form-label">range 2</label>-->
<!--        <div class="hyperparameter">-->
<!--          <input type="range" class="form-range" id="customRange2" min=0 max=100 value=1 onchange="updateSlider(this.value)">-->
<!--          &lt;!&ndash; input &ndash;&gt;-->
<!--          <input class="form-control" type="text" id="customInput2" value=1 onchange="updateInput(this.value)">-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="hyperparameters">-->
<!--        <label for="customRange3" class="form-label">range 3</label>-->
<!--        <div class="hyperparameter">-->
<!--          <input type="range" class="form-range" id="customRange3" min=0 max=100 value=1 onchange="updateSlider(this.value)">-->
<!--          &lt;!&ndash; input &ndash;&gt;-->
<!--          <input class="form-control" type="text" id="customInput3" value=1 onchange="updateInput(this.value)">-->
<!--        </div>-->
<!--      </div>-->

    </div>
    <div class="modelRight">
      <div id="chartContainer"></div>
      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
      <img class="modelImg" src="{{ url_for('static',filename='img/tempEnv.png') }}"/>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

</html>