<!doctype html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
              crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type=text/javascript src="{{  url_for('static', filename='js/model.js') }}"></script>
        <script type=text/javascript src="{{  url_for('static', filename='js/combined.js') }}"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <title>EasyRL</title>
    </head>
    <body>
    <!--    Navigation bar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/index">EasyRL</a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/index">Model</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/help">Help</a>
                        </li>
                    </ul>
                    <div class="navbar-nav">
                        {% if isLogin %}
                            <a class="nav-link logout" onClick="logout({{session}})">Logout</a>
                        {% else %}
                            <a class="nav-link" href="/login/{{session}}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

    <!--top buttons-->
        <div class="topBtn">
            <button type="button" class="btn btn-success modelButtons" onclick="train()" id="trainBtn"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Train the agent with the current settings">
                Train</button>
            <button type="button" class="btn btn-warning modelButtons" onclick="halt()"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Pause the current training">
                Halt</button>
            <button type="button" class="btn btn-success modelButtons" onclick="test()" id="testBtn"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Test the agent in its current state">
                Test</button>
            {% if isLogin == False %}
            <button type="button" class="btn btn-danger modelButtons" onclick="reset()"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Reset the current agent and its parameters">
                Reset</button>
            {% endif %}
<!--            onClick="makeLoadVisible(this)"-->
            <button type="button" class="btn btn-secondary modelButtons"
                    onClick="makeLoadVisible(this)"
                    id="loadModBtn"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Loading a model">Load Model</button>
            {% if isLogin %}
            <form id="upload_form" action="/loadModel" method="post" enctype="multipart/form-data">
            {% endif %}
                {% if isLogin %}
                <input type="text" id="session" name="session" value="{{session}}"/>
                {% endif %}
                <input class="form-control" type="file" id="uploadModIn" name="upload"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="File uploading input"/>
                <button class="btn btn-primary loadBtn" {% if isLogin %} type="submit" {% else %}
                        type="button" onClick="loadModel(this)" {% endif %}
                        id="uploadModBtn" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Confirming the load of the model" >Upload</button>
            {% if isLogin %}
            </form>
            {% endif %}
            <button type="button" class="btn btn-secondary modelButtons" id="saveModBtn"
                    onClick="makeSaveComponentsVisible(this);" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Save the model in its current state">Save Model</button>
            {% if isLogin == False %}
            <input type="text" class="form-control, saveName" placeholder="File Name" aria-label="File Name"
                   aria-describedby="basic-addon1" data-bs-toggle="tooltip" data-bs-placement="top"
                   title="The file name of the file the model that will be saved" id="downloadModIn">
            {% endif %}
            <button type="button" class="btn btn-primary saveNameBtn" id="downloadModBtn"
                    onClick="saveModel(this)" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Confirm saving the model in its current state">Download</button>

            <button type="button" class="btn btn-secondary modelButtons"
                    onClick="makeSaveComponentsVisible(this);" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Save the results of the current session">Save Results</button>

            <input type="text" class="form-control saveName" placeholder="File Name" aria-label="File Name"
                   aria-describedby="basic-addon1" data-bs-toggle="tooltip" data-bs-placement="top"
                   title="The file name of the file where the results will be saved">

            <button type="button" class="btn btn-primary saveNameBtn"
                    onClick="saveResults(this)" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Confirm saving the results of the current session">Download</button>
            <button id="newTab" type="button" class="btn btn-primary" onclick="newTab(this);"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Add new Tab">+</button>
            <input id="sessionDisplay" type="text" name="Session" value="Session {{session}}" disabled
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   title="{{session}}">
        </div>

    <!--hyperparameters-->
        <div class="modelLeft">
            {% if isLogin %}
                {% for p2 in params %}
                    <div class="hyperparameters">
                        <label for="{{p2.id}} range" class="form-label" data-bs-toggle="tooltip" data-bs-placement="top"
                               title="{{p2.description}}">{{p2.id}}</label>
                        <div class="hyperparameter">
                            <input type="range" class="form-range" id="{{p2.id}} range" min={{p2.min}} max={{p2.max}}
                                   value={{p2.default}} step="{{p2.stepSize}}" onchange="updateSlider(this)"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="{{p2.description}}">
                            <input class="form-control, customInput" type="number" id="{{p2.id}} number" value={{p2.default}}
                                   onchange="updateInput(this)" data-bs-toggle="tooltip" data-bs-placement="top"
                                   title="{{p2.description}}">
                        </div>
                    </div>
                    <br>
                {% endfor %}
            {% else %}
                {% for p in params %}
                    <div class="hyperparameters">
                        <label for="{{p.name}} range" class="form-label" data-bs-toggle="tooltip" data-bs-placement="top"
                               title="{{p.toolTipText}}">{{p.name}}</label>
                        <div class="hyperparameter">
                            <input type="range" class="form-range" id="{{p.name}} range" min={{p.min}} max={{p.max}}
                                   value={{p.default}} step={{p.resolution}} onchange="updateSlider(this)"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="{{p.toolTipText}}">
                            <input class="form-control, customInput" type="number" id="{{p.name}} number" value={{p.default}}
                                   onchange="updateInput(this)" data-bs-toggle="tooltip" data-bs-placement="top"
                                   title="{{p.toolTipText}}">
                        </div>
                    </div>
                    <br>
                {% endfor %}
            {% endif %}
        </div>

        <div class="modelRight">
            <!--graph-->
            <div id="chartContainer"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<!--            legends and checkbox-->
            <div class="legend">
                <label id="totalTrainingRewardLbl">Total Training Reward: </label>
                <label id="totalTrainingReward">0</label>
                <label id="rewardPerEpisodeLbl">Reward/Episode: </label>
                <label id="rewardPerEpisode">0</label>
            </div>
<!--            display-->
            <div class="modelImgParent">
                <img class="modelImg" src="{{ url_for('static',filename='img/noImg.png') }}"/>
                <div class="form-check form-switch ratioAspect">
                    <div id="aspectRatio">
                        <input class="form-check-input" type="checkbox" id="ratioSwitch" onchange="ratioUpdate(this)"
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Toggling the ratio aspect of the displayed environment">
                        <label class="form-check-label" for="ratioSwitch"
                                data-bs-toggle="tooltip" data-bs-placement="top" id="aspectRatioLbl"
                                title="Toggling the ratio aspect of the displayed environment">Aspect Ratio</label>
                    </div>
                </div>
                <div class="legend2">
                    <div class="legend2Div">
                        <label id="displayEnvEpLbl">Display Episode: </label>
                        <label id="displayEnvEp">0</label>
                        {% if isLogin == False %}
                        <label id="displayEnvStepLbl">Display Step: </label>
                        <label id="displayEnvStep">0</label>
                        {% endif %}
                    </div>
                </div>
                {% if isLogin == False %}
                <div class="video">
                    <div class="btnIconDiv">
                        <button type="button" class="btn btn-success bi-play" onclick="displayUpdate(this)"
                                id="envSwitch" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Toggling on or off the displayed environment"/>
                    </div>
                    <input type="range" class="form-range" id="epSlider" min=1 max=2
                           value=1 step=1 onchange="updateEpisodeSlider(this)"
                           data-bs-toggle="tooltip" disabled>
    <!--                data-bs-placement="bottom" title="0"-->
                </div>
                {% endif %}
            </div>
        </div>
        {% if isLogin %}
        <div id="loaderWrapper">
            <div id="loader" class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
                integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
                integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
                crossorigin="anonymous"></script>
        <script>
            var dpsLoss = []; // dataPoints
            var dpsReward = [];
            var dpsEpsilon = [];
            var chart;
            var xVal = 1;
            var isRunning = false;
            var chart = null;
            var isReset = false;
            var totalTrainingReward = document.getElementById("totalTrainingReward");
            var rewardPerEpisode = document.getElementById("rewardPerEpisode");
            var totalTrainingRewardVal = 0;
            var htmlImg = document.querySelector(".modelImg");
            var isDisplaying = false;
            var trainBtn = document.getElementById("trainBtn");
            var testBtn = document.getElementById("testBtn");
            var loadModBtn = document.getElementById("loadModBtn");
            var uploadModIn = document.getElementById("uploadModIn");
            var uploadModBtn = document.getElementById("uploadModBtn");
            var displayEnvEp = document.getElementById("displayEnvEp");
            var displayEnvStep = document.getElementById("displayEnvStep");
            var envSwitch = document.getElementById("envSwitch");
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            var tempImgUrl = "{{ url_for('tempImage')}}";
            var epSlider = document.getElementById("epSlider");
            var noImgUrl = "{{ url_for('static',filename='img/noImg.png') }}"
            //activate popper tooltip
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })


            //aws
            {% if isLogin %}
                var isLogin = true;
            {% else %}
                var isLogin = false;
            {% endif %}
            if (isLogin) {
                document.getElementsByClassName("legend2")[0].style.left = "870px";
                setTimeout(function () {
                  doPoll();
                }, 1000)
            }

            var loaderWrapper = document.getElementById("loaderWrapper")
            var loadModBtn = document.getElementById("loadModBtn");
            var uploadModIn = document.getElementById("uploadModIn");
            var uploadModBtn = document.getElementById("uploadModBtn");
            var saveModBtn = document.getElementById("saveModBtn");
            if (!isLogin) {
                var downloadModIn = document.getElementById("downloadModIn");
            }
            var downloadModBtn = document.getElementById("downloadModBtn");

            $('#upload_form').on('submit', async function (e) {
                e.preventDefault();
                let fd = new FormData(this);
                let url = '/loadModel'
<!--                console.log("uploading")-->
                let upload = await $.ajax({
                    type: 'POST',
                    url: url,
                    data: fd,
                    processData: false,
                    contentType: false,
                    success : function(result) {
                        alert("Loading Model Success");
                        uploadModIn.style.display = "none";
                        uploadModBtn.style.display = "none";
                        uploadModIn.value = "";
                    },
                    error: function () {
                        alert("Error Loading Model!");
                    }
                });


            });

            var session = {{session}}

        </script>
    </body>
</html>