/* all */

body {
    overflow-x: hidden;
}

/*page 1 and 2*/
input[type=file] {
    display:none;
    width:300px;
}

.loadBtn {
    display:none;
}

.saveName {
    display:none;
    width:200px;
}

.saveNameBtn {
    display:none;
}

/*page1*/

.environmentLblContainer {
    text-align:center;
}

.environmentCustImg {
    margin-top:5px;
    padding-right:20px;
}

.environmentCustImg:first-child {
    padding-left:20px;
}

.indexImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:100px;
    margin-top: 10px;
}

.agentBtn {
    margin-top: 10px;
    padding-right:20px;
    float:left;
}

.agentBtn:first-child {
    padding-left: 20px;
}

input[type=radio]:checked ~ div {
  outline: 2px solid lightblue;
}

label.btn {
    width:100%;
}

.agentBtns {
    overflow-x: scroll;
    width: 100%;
    height: 70px;
    display: flex;
    white-space: nowrap;
    position : relative;
}

.environmentBtns {
    overflow-x: scroll;
    width: 100%;
    height: 175px;
    display: flex;
    white-space: nowrap;
    position : relative;
}

.submitModel {
    text-align:center;
    margin-top:30px;
}

h1 {
    margin-left: 20px;
}

#hEnvironment {
    margin-top: 15px;
    margin-left: 20px;
}

#hAgent {
    margin-left: 20px;
    margin-top: 20px;
}

.h1Start {
    margin-top: 10px;
}

/*page2*/

.form-switch {
    display: inline-block;
    margin-right: 20px;
}

.ratioAspect {
    position:absolute;
    top: 420px;
    left: 550px;
    background-color: white;
    display: none;
}

#aspectRatio {
    padding-right:5px;
    padding-left:5px;
}

.epDisplay {
    display: inline-block;
    width:70%;
    text-align: center;
}

#rewardPerEpisodeLbl {
    margin-left: 20px;
}

#displayEnvStepLbl {
    margin-left: 20px;
}

.legend {
    display: inline-block;
    width:100%;
    text-align: center;
}

.legend2 {
    position: absolute;
    top: 420px;
    left: 810px;
    display: none;
}

.legend2Div {
    display: inline-block;
    width:100%;
    text-align: center;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.modelImg {
    width:100%;
    height:255px;
}

.modelImg:hover + .ratioAspect {
    display: inline;
}

.modelImg:hover + .ratioAspect + .legend2 {
    display: inline;
}

.ratioAspect:hover {
    display: inline;
}

.ratioAspect:hover + .legend2 {
    display: inline;
}

.btnIconDiv {
    display: inline-block;
}

.hyperparameter input[type=range] {
    width:35%;
    float:left;
    margin-left:20px;
    margin-right:20px;
}

.customInput {
    width:15%;
}

#epSlider {
    display: inline-block;
    width: 92%;
    height: 15px;
    margin-left:5px;
}

#epSliderLbl {
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

.hyperparameters label {
    float:left;
    padding-left:20px;
    width:200px;
}

.modelLeft {
    float:left;
    width:40%;
    margin-top:15px;
}

.modelRight {
    float:right;
    padding-right:20px;
    width:60%;
}

#chartContainer {
    padding-bottom:260px;
}

.modelButtons {
    margin-top:10px;
    margin-bottom:10px;
}

.topBtn {
    margin-left:20px;
    margin-right:20px;
}

.aboutContainer {
    padding-left:20px;
    padding-right:20px;
    margin-top:10px;
}

.helpContainer {
    padding-left:20px;
    padding-right:20px;
    margin-top:10px;
}

p {
    padding-left:25px;
    padding-right:25px;
}

/*login*/

.credentials {
    margin-top: 10px;
}

.awsnote {
    text-align:center;
    font-size: 12px;
    margin-top: 10px
}

.cardCred {
    margin-left:20%;
    margin-right:20%;
    width:60%;
    padding:0px;
}

.cardItems {
    margin-top:10px;
}

.loginBtn {
    float: right;
    width: 15%;
}

.logout {
    cursor: pointer;
}

#hInstances {
    margin-left: 20px;
    margin-top: 20px;
}

#loader {
    width: 100px;
    height: 100px;
}

#loaderWrapper {
    background-color: white;
    position: absolute;
    height: 90%;
    width: 100%;
    top:60px;
    left:0;
    justify-content: center;
    align-items: center;
    display: flex;
}

#session {
    display: none;
}

#sessionDisplay {
    margin-top:10px;
    width:100px;
    float: right;
    text-align:center;
    height: 38px
}

#newTab {
    margin-left: 10px;
    margin-top:10px;
    float:right
}

#upload_form {
    display: inline-block;
}